body {
  background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/77.webp');
  height: 50vh;  
}

label {
  font-size: 24px; /* Tamaño de fuente grande para los labels */
  font-weight: bold; /* Negrita */
  color: #ffffff; /* Blanco para el texto */
}


